<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Joke of the Day</title>
</head>
<body>
<div class="container">
		<h3>Welcome...!!</h3>
		<hr>
		<p class="h4 mb-4">Jokes Spot...!!!</p>
		<form action="#" th:action="@{/joke/add-joke}"
						 th:object="${joke}" method="POST">
			<button type="submit" class="btn btn-info col-2">Add Joke</button>
		</form>
		<form action="#" th:action="@{/joke/joke-of-the-day}"
						 th:object="${joke}" method="POST">
			<button type="submit" class="btn btn-info col-2"> Get Joke of the Day</button>
		</form>
		<hr>
	</div>
</body>
</html>