<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>League List</title>
</head>

<body>

<div class="container">

	<h3>League List</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/leagues/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add League
	</a>
	
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Season</th>
				<th>Year</th>
				<th>Options</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempLeague : ${league}">
				<td th:text="${tempLeague.id}"/>
				<td th:text="${tempLeague.title}" />	
				<td th:text="${tempLeague.season}" />	
				<td th:text="${tempLeague.year}" />	
				<td><form action="#" th:action="@{/leagues/showFormForUpdate}" method="POST">
					
						<input type="hidden" name="leagueId" th:value="${tempLeague.id}" />						
						<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

					</form>
					<form action="#" th:action="@{/leagues/delete}" method="POST">
					
						<input type="hidden" name="leagueId" th:value="${tempLeague.id}" />						
						<button type="submit" class="btn btn-danger btn-sm"
								onclick="if (!(confirm('Are you sure you want to delete this?'))) return false">
								Delete
						</button>

					</form>
					</td>
			</tr>
			
		</tbody>		
	</table>
	
</div>
	
</body>
</html>